.popap-application_form-submit {
	background: url("../img/ie/for_ie_send.png") no-repeat;
}

.form-ceremony_submit {
	background: url("../img/ie/for_ie_order.png") no-repeat;
}

.footer_button-submit {
	background: url("../img/ie/for_ie_call.png") no-repeat;
}